pytube==15.0.0
SpeechRecognition==3.10.4
pydub==0.25.1
python-ffmpeg==2.0.12
python-dotenv==1.0.1
assemblyai>=0.15
langchain==0.2.14
langchain-community==0.2.12
langchain-groq===0.1.9
google-generativeai==0.8.3
sentence-transformers==3.1.1
moviepy==1.0.3
requests==2.32.3
ffmpeg-python==0.2.0
deepgram-sdk==2.12.0
git+https://github.com/m-bain/whisperx.git
pyannote.audio==3.1.1
streamlit==1.39.0
fastapi==0.115.0
python-multipart==0.0.12
uvicorn==0.31.0
boto3==1.35.36